/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/

@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.colorpicker {
  width: 200px;
  display: flex;
  flex-flow: row wrap;
}

.closed>.color-box {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-top: 5px;
  border: 1px grey solid;
}

.closed>.color-name {
  padding-left: 0.5em;
  margin-top: 0.5em;
}

.color {
  flex-grow: 2;
  padding: 1em;
  font-size: 0.6em;
}

table {
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

table>tr,
table>tr>td {
  height: 10px;
  width: 10px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#menu {
  width: 280px;
}

@media screen and (max-width:500px) {
  #menu {
    width: 220px;
  }
}